{% extends "base.html" %}
{% load static %}

{% block title %}My Blog{% endblock title %}

{% block css_file %} 
<link rel="stylesheet" href="{%static "home/post.css"%}">
<link rel="stylesheet" href="{%static "home/all-posts.css"%}">
{% endblock css_file %}

{% block content %}
    <section id="all-posts">
        <h2>My All Posts</h2>
        
        <ul>
            {% for post in all_posts %}
                {% include "home/includes/post.html" %}
            {% endfor %}
        </ul>

    </section>
{%endblock%}